@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default, business;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
}